<div class="section gf-form-group">
  <h5 class="section-header"> Title Options </h5>

  <div class="gf-form">
    <label class="gf-form-label width-12">Mode</label>
    <span class="gf-form-select-wrapper max-width-9">
      <select class="input-small gf-form-input"
      ng-model="ctrl.panel.mode"
      ng-options="t for t in ['ratio', 'comparison','value']"
      ng-change="ctrl.render()"></select>
    </span>
  </div>

  <div class="gf-form" ng-if="ctrl.panel.mode == 'value' || ctrl.panel.mode == 'comparison'">
    <label class="gf-form-label width-12">Image</label>
    <span class="gf-form-select-wrapper max-width-9">
      <select class="input-small gf-form-input"
      ng-model="ctrl.panel.imageSettings.image"
      ng-options="t for t in ['tree', 'co2']"
      ng-change="ctrl.render()"></select>
    </span>
  </div>

  <div ng-if="ctrl.panel.mode == 'ratio'">
    <div class="gf-form">
      <label class="gf-form-label width-12">Up arrow color</label>
      <spectrum-picker class="gf-form-input width-10" ng-model="ctrl.panel.imageSettings.upColor" ng-change="ctrl.render()"> </spectrum-picker>
    </div>
    
    <div class="gf-form">
      <label class="gf-form-label width-12">Down arrow color</label>
      <spectrum-picker class="gf-form-input width-10" ng-model="ctrl.panel.imageSettings.downColor" ng-change="ctrl.render()"> </spectrum-picker>
    </div>    
  </div>

</div>

<div class="section gf-form-group">
  <h5 class="section-header"> Title Options </h5>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font color</label>
      <spectrum-picker class="gf-form-input width-10" ng-model="ctrl.panel.titleSettings.fontColor" ng-change="ctrl.render()"> </spectrum-picker>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Title</label>
    <input type="text" class="gf-form-input max-width-12" ng-model="ctrl.panel.titleSettings.text" ng-change="ctrl.render()" ng-model-onblur>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font size</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.titleSettings.fontSize" ng-change="ctrl.render()" ng-model-onblur/>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font weight</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.titleSettings.fontWeight" ng-change="ctrl.render()" ng-model-onblur/>
  </div>

</div>

<div class="section gf-form-group">
  <h5 class="section-header"> Stat Options </h5>

  <gf-form-switch class="gf-form" label="Negative" label-class="width-6" checked="ctrl.panel.statSettings.inferiorToZero" on-change="ctrl.render()"></gf-form-switch>
  <div class="gf-form">
    <label class="gf-form-label width-12">Font color</label>
    <spectrum-picker class="gf-form-input width-10" ng-model="ctrl.panel.statSettings.fontColor" ng-change="ctrl.render()"> </spectrum-picker>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font size</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.statSettings.fontSize" ng-change="ctrl.render()" ng-model-onblur />
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font weight</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.statSettings.fontWeight" ng-change="ctrl.render()" ng-model-onblur/>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Suffix</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.statSettings.suffix" ng-change="ctrl.render()" ng-model-onblur/>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Divider</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.statSettings.divider" ng-change="ctrl.render()" ng-model-onblur/>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">How many decimals</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.statSettings.decimalNumber" ng-change="ctrl.render()" ng-model-onblur/>
  </div>

  

</div>
