<div class="section gf-form-group">
  <h5 class="section-header"> Title Options </h5>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font color</label>
      <spectrum-picker class="gf-form-input width-10" ng-model="ctrl.panel.titleSettings.fontColor" ng-change="ctrl.render()"> </spectrum-picker>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Title</label>
    <input type="text" class="gf-form-input max-width-12" ng-model="ctrl.panel.title" ng-change="ctrl.render()" ng-model-onblur>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font size</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.titleSettings.fontSize" ng-change="ctrl.render()" ng-model-onblur/>
  </div>

</div>

<div class="section gf-form-group">
  <h5 class="section-header"> Stat Options </h5>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font color</label>
    <spectrum-picker class="gf-form-input width-10" ng-model="ctrl.panel.statSettings.fontColor" ng-change="ctrl.render()"> </spectrum-picker>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-12">Font size</label>
    <input class="input-small gf-form-input width-12" ng-model="ctrl.panel.statSettings.fontSize" ng-change="ctrl.render()" ng-model-onblur />
  </div>

</div>
