.imageStat-title {
  text-align: center;

}

.imageDisplayed {
  height: 80%;
  display: inline-block;
}

.imageStat-panel {
  height: 100%;
  overflow: hidden;
}

.imageStat-content {
  margin-bottom: 3%;
  width: 80%;
  height: 100%;
  align-content: center;


}

.imageStat-stat {
  font-size: 4vh;
  height: 100%;
  display: inline-block;
}

.imageStat-stat span{
  margin-top: auto;
}
